<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--#####IMPORTANT####-->
    <!--Set this to true when finished configuring-->
    <add key="Configured" value="false"/>
    <!--Server address-->
    <add key="Server" value="127.0.0.1"/>
    <!--The password for your bot-->
    <add key="Password" value=""/>
    <!--Default port is 6667-->
    <add key="Port" value="6667"/>
    <!--Bot's nickname-->
    <add key="Nick" value="csbot"/>
    <!--Channel to join-->
    <add key="Channel1" value="#csbot"/>
    <add key="Channel2" value="#foobar"/>
    <!--The following is used if a channel requires a key to join-->
    <add key="Key" value="key"/>
  </appSettings>
</configuration>